# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scrapy
2. NumPy
3. SciPy

| Data Science Tools |
|---|
|Python|
|SQL|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5

17

In [10]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
x=(y/60)
y=200

NameError: name 'y' is not defined

In [4]:
x= 1 hour
y= 60 minutes
x=y
2*y=x*2

SyntaxError: invalid syntax (208744031.py, line 1)

In [8]:
(200/60)
# his will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Objectives:
* Python
* R
* SQL
* Julia
* Swift

## Author
Manoj Kumar